if first word of series is 'l or a or d' return hi else return nothing

In [30]:
df_series = pd.read_csv('NbaInfo.csv',usecols=['Name']).squeeze()

In [31]:
df_series

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
457              NaN
Name: Name, Length: 458, dtype: object

In [32]:
df_series.dropna(inplace= True)

In [33]:
list1 = []
for i in range(len(df_series)):
    if df_series[i][0] in ['L','A','D']:
        list1.append('Hi')
    else:
        list1.append('Nothing')

df_series = pd.Series(list1)
print(df_series)

0           Hi
1      Nothing
2      Nothing
3      Nothing
4      Nothing
        ...
452    Nothing
453    Nothing
454    Nothing
455    Nothing
456    Nothing
Length: 457, dtype: object

Nothing    362
Hi          95
dtype: int64

In [35]:
df_series.value_counts()

Nothing    362
Hi          95
dtype: int64

In [40]:
df = pd.read_csv('NbaInfo.csv')

df_series = pd.Series(df['Name'])

df_series.dropna(inplace = True)

df_series = df_series.apply(lambda x : 'Hi' if x[0] in ['L','A','D'] else 'Nothing')

In [41]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
df2  = df[:]

In [46]:
df2["Height"] = df2['Height'].apply(lambda x : float(str(x).replace("-",".")))

In [47]:
df2.Height

0      6.2
1      6.6
2      6.5
3      6.5
4      6.1
      ...
453    6.3
454    6.1
455    7.3
456    7.0
457    NaN
Name: Height, Length: 458, dtype: float64

In [54]:
df2[(df2["Position"] == "PG") & (df2["Height"] > 6.2)]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6.4,220.0,Oklahoma State,3431040.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6.3,200.0,Georgia Tech,6300000.0
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6.3,205.0,Texas A&M,947276.0
34,Jose Calderon,New York Knicks,3.0,PG,34.0,6.3,200.0,NaN,7402812.0
37,Jerian Grant,New York Knicks,13.0,PG,23.0,6.4,195.0,Notre Dame,1572360.0
53,Kendall Marshall,Philadelphia 76ers,5.0,PG,24.0,6.4,200.0,North Carolina,2144772.0
66,Cory Joseph,Toronto Raptors,6.0,PG,24.0,6.3,190.0,Texas,7000000.0
75,Delon Wright,Toronto Raptors,55.0,PG,24.0,6.5,190.0,Utah,1509360.0
80,Stephen Curry,Golden State Warriors,30.0,PG,28.0,6.3,190.0,Davidson,11370786.0
84,Shaun Livingston,Golden State Warriors,34.0,PG,30.0,6.7,192.0,NaN,5543725.0
102,Pablo Prigioni,Los Angeles Clippers,9.0,PG,39.0,6.3,185.0,NaN,947726.0
104,Austin Rivers,Los Angeles Clippers,25.0,PG,23.0,6.4,200.0,Duke,3110796.0
110,Jordan Clarkson,Los Angeles Lakers,6.0,PG,24.0,6.5,194.0,Missouri,845059.0
112,Marcelo Huertas,Los Angeles Lakers,9.0,PG,33.0,6.3,200.0,NaN,525093.0
116,D'Angelo Russell,Los Angeles Lakers,1.0,PG,20.0,6.5,195.0,Ohio State,5103120.0
127,Brandon Knight,Phoenix Suns,3.0,PG,24.0,6.3,189.0,Kentucky,13500000.0
164,Derrick Rose,Chicago Bulls,1.0,PG,27.0,6.3,190.0,Memphis,20093064.0
166,Matthew Dellavedova,Cleveland Cavaliers,8.0,PG,25.0,6.4,198.0,Saint Mary's,1147276.0
168,Kyrie Irving,Cleveland Cavaliers,2.0,PG,24.0,6.3,193.0,Duke,16407501.0
183,Steve Blake,Detroit Pistons,22.0,PG,36.0,6.3,172.0,Maryland,2170465.0
184,Lorenzo Brown,Detroit Pistons,17.0,PG,25.0,6.5,189.0,North Carolina State,111444.0
187,Spencer Dinwiddie,Detroit Pistons,8.0,PG,23.0,6.6,200.0,Colorado,845059.0
191,Reggie Jackson,Detroit Pistons,1.0,PG,26.0,6.3,208.0,Boston College,13913044.0
200,George Hill,Indiana Pacers,3.0,PG,30.0,6.3,188.0,IUPUI,8000000.0
207,Rodney Stuckey,Indiana Pacers,2.0,PG,30.0,6.5,205.0,Eastern Washington,7000000.0
212,Jerryd Bayless,Milwaukee Bucks,19.0,PG,27.0,6.3,200.0,Arizona,3000000.0
213,Michael Carter-Williams,Milwaukee Bucks,5.0,PG,24.0,6.6,190.0,Syracuse,2399040.0
215,Tyler Ennis,Milwaukee Bucks,11.0,PG,21.0,6.3,194.0,Syracuse,1662360.0
225,Greivis Vasquez,Milwaukee Bucks,21.0,PG,29.0,6.6,217.0,Maryland,6600000.0
231,Devin Harris,Dallas Mavericks,34.0,PG,33.0,6.3,185.0,Wisconsin,4053446.0
241,Deron Williams,Dallas Mavericks,8.0,PG,31.0,6.3,200.0,Illinois,5378974.0
248,Andrew Goudelock,Houston Rockets,0.0,PG,27.0,6.3,200.0,Charleston,200600.0
269,Ray McCallum,Memphis Grizzlies,5.0,PG,24.0,6.3,190.0,Detroit,NaN
270,Xavier Munford,Memphis Grizzlies,14.0,PG,24.0,6.3,180.0,Rhode Island,NaN
290,Jrue Holiday,New Orleans Pelicans,11.0,PG,25.0,6.4,205.0,UCLA,10595507.0
304,Andre Miller,San Antonio Spurs,24.0,PG,40.0,6.3,200.0,Utah,250750.0
326,Jorge Gutierrez,Charlotte Hornets,12.0,PG,27.0,6.3,189.0,California,189455.0
335,Jeremy Lin,Charlotte Hornets,7.0,PG,27.0,6.3,200.0,Harvard,2139000.0
341,Goran Dragic,Miami Heat,7.0,PG,30.0,6.3,190.0,NaN,14783000.0
364,Elfrid Payton,Orlando Magic,4.0,PG,22.0,6.4,185.0,Louisiana-Lafayette,2505720.0
379,Ramon Sessions,Washington Wizards,7.0,PG,30.0,6.3,190.0,Nevada,2170465.0
382,John Wall,Washington Wizards,2.0,PG,25.0,6.4,195.0,Kentucky,15851950.0
393,Emmanuel Mudiay,Denver Nuggets,0.0,PG,20.0,6.5,200.0,NaN,3102240.0
402,Zach LaVine,Minnesota Timberwolves,8.0,PG,21.0,6.5,189.0,UCLA,2148360.0
407,Ricky Rubio,Minnesota Timberwolves,9.0,PG,25.0,6.4,194.0,NaN,12700000.0
422,Cameron Payne,Oklahoma City Thunder,22.0,PG,21.0,6.3,185.0,Murray State,2021520.0
426,Russell Westbrook,Oklahoma City Thunder,0.0,PG,27.0,6.3,200.0,UCLA,16744218.0
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6.3,195.0,Weber State,4236287.0
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6.6,190.0,NaN,3777720.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6.3,203.0,Butler,2433333.0

In [64]:
dictionary = {'name':['a','b','c','d','e'],'id_' : [1,2,3,4,5]}

In [65]:
df = pd.DataFrame(dictionary)

In [67]:
df.set_index("id_")

    name
id_
1      a
2      b
3      c
4      d
5      e

In [74]:
df.reset_index(drop=True,inplace=True)

In [80]:
df.loc[len(df)] = ['a',6]

In [83]:
df

  name  id_
0    a    1
1    b    2
2    c    3
3    d    4
4    e    5
5    b    6
6    b    6
7    b    6
8    b    6
9    a    6

In [85]:
df['name'].drop_duplicates(keep = False)

2    c
3    d
4    e
Name: name, dtype: object

In [89]:
df[df['name'].duplicated(keep = False)]

  name  id_
0    a    1
1    b    2
5    b    6
6    b    6
7    b    6
8    b    6
9    a    6

In [90]:
class Employee:
    def __init__(self, name, base_pay):
        self.name = name
        self.base_pay = base_pay

    def get_pay(self):
        return self.base_pay


class SalesEmployee(Employee):
    def __init__(self, name, base_pay, sales_incentive):
        self.name = name
        self.base_pay = base_pay
        self.sales_incentive = sales_incentive

    def get_pay(self):
        return self.base_pay + self.sales_incentive


if __name__ == '__main__':
    john = SalesEmployee('John', 5000, 1500)
    print(john.get_pay())

    jane = Employee('Jane', 5000)
    print(jane.get_pay())

6500
5000

In [91]:
class A:
    def __init__(self,name):
        self.name=name
a1=A("john")
a2=A("john")